/* Author: Jonathan Dimercurio  Creation Date:
 * Description: Stylizing CSS document for index.js.
 *      Here, default values for the webApp are defined,
 *      when styling sources are not defined for a
 *      component, they will inherit the same values
 *      defined here.
*/
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}


h1, h2 {
  color: #333333;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}
