navAnimation {
    position: relative;
    transform: rotateY(180deg)
    animation: mymove 1s;
    animation-fill-mode: forwards;
}

@keyframes mymove {
  from {left: 0px; }
  to {left: 150px; background-color: blue;   transform: rotateY(180deg);}
}
