Button {
    background-color: lightgrey;
}

.slidenavCLOSE {
    opacity:.2;
    display: block;
    height: 6vw;
    width: 6vw;
    position: fixed;
    z-index: 1;
    top: -2px;
    left: 0px;
    background-image: url('./assets/navBarIcon.png');
    background-size: cover;
    overflow-x: hidden;
    transition: 0.4s;
}

.slidenavCLOSE:hover {
    opacity:0.8;
}

.slidenavCLOSE img {
    transition-delay: .2s;
    display:none;
}


.slidenavOPEN {
    display: block;
    height: clamp(70px, 100%, 90px);
    width: 430px;
    top: -1rem;
    left: -50px;
    position: fixed;
    z-index: 1;
    background-color: lightgrey;
    overflow-x: hidden;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
    transition: 0.5s;
}
ul {
    display: block;
    margin-left: 20px;
    padding-top: 15px
}

li {
  
    list-style-type: none;
}
.slidenavOPEN div {
    float: left;
    border-radius: 100%;
    height: 75px;
    width: 75px;
}

.slidenavOPEN img {
    height: 75px;
    width: 75px;
    overflow: visible;
    background:cover;
    background-position: center;
}


.slidenavOPEN div:hover {
    background-color: rgb(60%, 70%, 95%, .9);
}
